/* Gb-resets start */

* {
	margin: 0;
	padding: 0;
	font-family: Montserrat, sans-serif;
}

a {
	text-decoration: none;
}

li {
	list-style: none;
}

svg {
	display: block;
	/* bug-fix some weird margin on the bottom */
}

/* Gb-resets end */

/* Gb-colors start */

.gb-background-primary {
	background-color: rgb(249, 99, 50);
}

.gb-background-secondary {
	background-color: rgb(237, 94, 47);
}
.gb-background-white {
	background-color : rgb(255,255,255);
}
.gb-background-yellow{
	background-color: rgb(255 , 178 , 53);
}

.gb-background-black{
	background-color: rgb(0 , 0 , 0)
}

.gb-background-black-opacity-5{
	background-color: rgba(0 , 0 , 0, .05)
}

.gb-gradient-orange-black {
	background: -webkit-gradient(linear, left top, left bottom, from(#ff6a3a), to(#000));
	background: -webkit-linear-gradient(#ff6a3a, #000);
	background: -o-linear-gradient(#ff6a3a, #000);
	background: linear-gradient(#ff6a3a, #000);
}

/* Gb-colors end */

/* Gb-font-sizes start */

.gb-text-label {
	font-size: 10px;
}

@media screen and (min-width : 1024px){
	.gb-text-label {
		font-size: 12px;
	}
}

@media screen and (min-width : 1920px) {
	.gb-text-label {
		font-size: 14px;
	}
}

.gb-text-paragraph-small{
	font-size : 12px;
	line-height: 21px;
}

@media screen and (min-width : 768px) {
	.gb-text-paragraph-small{
		font-size : 13px;
		line-height: 22px;
	}
}

@media screen and (min-width : 1024px) {
	.gb-text-paragraph-small{
		font-size : 14px;
		line-height: 23px;
	}
}

@media screen and (min-width : 1440px) {
	.gb-text-paragraph-small{
		font-size : 15px;
		line-height: 23px;
	}
}

@media screen and (min-width : 1920px) {
	.gb-text-paragraph-small{
		font-size : 18px;
		line-height: 25px;
	}
}

.gb-text-paragraph-medium{
	font-size : 15px;
	line-height: 23px;
}

@media screen and (min-width : 768px) {
	.gb-text-paragraph-medium{
		font-size : 15px;
		line-height: 24px;
	}
}

@media screen and (min-width : 1024px) {
	.gb-text-paragraph-medium{
		font-size : 17px;
		line-height: 23px;
	}
}

@media screen and (min-width : 1920px) {
	.gb-text-paragraph-medium{
		font-size : 20px;
		line-height: 38px;
	}
}

.gb-text-paragraph-large{
	font-size : 15px;
	line-height: 25px;
}

@media screen and (min-width : 768px) {
	.gb-text-paragraph-large{
		font-size : 18px;
		line-height: 31px;
	}
}

@media screen and (min-width : 1024px) {
	.gb-text-paragraph-large{
		font-size : 20px;
		line-height: 30px;
	}
}

@media screen and (min-width : 1440px) {
	.gb-text-paragraph-large{
		font-size : 22px;
		line-height: 31px;
	}
}

@media screen and (min-width : 1920px) {
	.gb-text-paragraph-large{
		font-size : 25px;
		line-height: 35px;
	}
}

.gb-text-subtitle-small{
	font-size : 12px;
	line-height: 21px;
}

@media screen and (min-width : 768px) {
	.gb-text-subtitle-small{
		font-size : 10px;
		line-height: 20px;
	}
}

@media screen and (min-width : 1024px) {
	.gb-text-subtitle-small{
		font-size : 12px;
		line-height: 21px;
	}
}

@media screen and (min-width : 1440px) {
	.gb-text-subtitle-small{
		font-size : 12px;
		line-height: 23px;
	}
}

@media screen and (min-width : 1920px) {
	.gb-text-subtitle-small{
		font-size : 14px;
		line-height: 25px;
	}
}

.gb-text-subtitle-medium{
	font-size : 12px;
	line-height: 21px;
}

@media screen and (min-width : 768px) {
	.gb-text-subtitle-medium{
		font-size : 13px;
		line-height: 23px;
	}
}

@media screen and (min-width : 1024px) {
	.gb-text-subtitle-medium{
		font-size : 15px;
		line-height: 25px;
	}
}

@media screen and (min-width : 1440px) {
	.gb-text-subtitle-medium{
		font-size : 16px;
		line-height: 26px;
	}
}

@media screen and (min-width : 1920px) {
	.gb-text-subtitle-medium{
		font-size : 20px;
		line-height: 30px;
	}
}

.gb-text-subtitle-large{
	font-size : 12px;
	line-height: 21px;
}

@media screen and (min-width : 768px) {
	.gb-text-subtitle-large{
		font-size : 15px;
		line-height: 25px;
	}
}

@media screen and (min-width : 1024px) {
	.gb-text-subtitle-large{
		font-size : 18px;
		line-height: 28px;
	}
}

@media screen and (min-width : 1920px) {
	.gb-text-subtitle-large{
		font-size : 22px;
		line-height: 32px;
	}
}

.gb-text-title-tiny{
	font-size : 14px;
	line-height: 18px;
}

@media screen and (min-width : 768px) {
	.gb-text-title-tiny{
		font-size : 15px;
		line-height: 19px;
	}
}

@media screen and (min-width : 1440px) {
	.gb-text-title-tiny{
		font-size : 16px;
		line-height: 24px;
	}
}

@media screen and (min-width : 1920px) {
	.gb-text-title-tiny{
		font-size : 20px;
		line-height: 30px;
	}
}

.gb-text-title-small{
	font-size : 14px;
	line-height: 24px;
}

@media screen and (min-width : 768px) {
	.gb-text-title-small{
		font-size : 25px;
		line-height: 38px;
	}
}

@media screen and (min-width : 1024px) {
	.gb-text-title-small{
		font-size : 20px;
		line-height: 30px;
	}
}

@media screen and (min-width : 1440px) {
	.gb-text-title-small{
		font-size : 28px;
		line-height: 40px;
	}
}

@media screen and (min-width : 1920px) {
	.gb-text-title-small{
		font-size : 37px;
		line-height: 54px;
	}
}

.gb-text-title-small--medium-big-devices{
	font-size : 15px;
	line-height: 25px;
}

@media screen and (min-width : 768px) {
	.gb-text-title-small--medium-big-devices{
		font-size : 20px;
		line-height: 30px;
	}
}

@media screen and (min-width : 1024px) {
	.gb-text-title-small--medium-big-devices{
		font-size : 21px;
		line-height: 26px;
	}
}

@media screen and (min-width : 1440px) {
	.gb-text-title-small--medium-big-devices{
		font-size : 24px;
		line-height: 34px;
	}
}

@media screen and (min-width : 1920px) {
	.gb-text-title-small--medium-big-devices{
		font-size : 26px;
		line-height: 36px;
	}
}

.gb-text-title-tiny--large-big-devices{
	font-size : 12px;
	line-height: 20px;
}

@media screen and (min-width : 768px) {
	.gb-text-title-tiny--large-big-devices{
		font-size : 37px;
		line-height: 45px;
	}
}

@media screen and (min-width : 1024px) {
	.gb-text-title-tiny--large-big-devices{
		font-size : 26px;
		line-height: 34px;
	}
}

@media screen and (min-width : 1440px) {
	.gb-text-title-tiny--large-big-devices{
		font-size : 28px;
		line-height: 36px;
	}
}

@media screen and (min-width : 1920px) {
	.gb-text-title-tiny--large-big-devices{
		font-size : 30px;
		line-height: 38px;
	}
}

.gb-text-title-medium{
	font-size : 18px;
	line-height: 25px;
}

@media screen and (min-width : 768px) {
	.gb-text-title-medium{
		font-size : 20px;
		line-height: 30px;
	}
}

@media screen and (min-width : 1024px) {
	.gb-text-title-medium{
		font-size : 18px;
		line-height: 25px;
	}
}

@media screen and (min-width : 1440px) {
	.gb-text-title-medium{
		font-size : 20px;
		line-height: 30px;
	}
}

@media screen and (min-width : 1920px) {
	.gb-text-title-medium{
		font-size : 30px;
		line-height: 38px;
	}
}

.gb-text-title-medium--large-on-dextop{
	font-size : 18px;
	line-height: 25px;
}

@media screen and (min-width : 768px) {
	.gb-text-title-medium--large-on-dextop{
		font-size : 20px;
		line-height: 30px;
	}
}

@media screen and (min-width : 1024px) {
	.gb-text-title-medium--large-on-dextop{
		font-size : 25px;
		line-height: 31px;
	}
}

@media screen and (min-width : 1440px) {
	.gb-text-title-medium--large-on-dextop{
		font-size : 30px;
		line-height: 38px;
	}
}

@media screen and (min-width : 1920px) {
	.gb-text-title-medium--large-on-dextop{
		font-size : 45px;
		line-height: 56px;
	}
}

.gb-text-title-large{
	font-size : 19px;
	line-height: 26px;
}

@media screen and (min-width : 440px) {
	.gb-text-title-large {
		font-size: 24px;
		line-height: 30px;
	}
}

@media screen and (min-width : 768px) {
	.gb-text-title-large{
		font-size : 37px;
		line-height: 47px;
	}
}

@media screen and (min-width : 1024px) {
	.gb-text-title-large{
		font-size : 25px;
		line-height: 31px;
	}
}

@media screen and (min-width : 1440px) {
	.gb-text-title-large{
		font-size : 30px;
		line-height: 38px;
	}
}

@media screen and (min-width : 1920px) {
	.gb-text-title-large{
		font-size : 45px;
		line-height: 56px;
	}
}

.gb-text-title-x-large{
	font-size : 18px;
	line-height: 25px;
}

@media screen and (min-width : 768px) {
	.gb-text-title-x-large{
		font-size : 35px;
		line-height: 45px;
	}
}

@media screen and (min-width : 1024px) {
	.gb-text-title-x-large{
		font-size : 45px;
		line-height: 51px;
	}
}

@media screen and (min-width : 1920px) {
	.gb-text-title-x-large{
		font-size : 53px;
		line-height: 58px;
	}
}

.gb-text-title-xx-large{
	font-size : 20px;
	line-height: 25px;
}

@media screen and (min-width : 440px) {
	.gb-text-title-xx-large{
		font-size : 25px;
		line-height: 30px;
	}
}

@media screen and (min-width : 768px) {
	.gb-text-title-xx-large{
		font-size : 40px;
		line-height: 46px;
	}
}

@media screen and (min-width : 1024px) {
	.gb-text-title-xx-large{
		font-size : 45px;
		line-height: 50px;
	}
}

@media screen and (min-width : 1920px) {
	.gb-text-title-xx-large{
		font-size : 55px;
		line-height: 60px;
	}
}

/* Gb-font-sizes end */

/* Gb-text-color start */
.gb-text-uppercase{
	text-transform: uppercase;
}

.gb-text-capitalize:first-letter{
	text-transform: capitalize;
}

.gb-text-bold--over-phone{
	font-weight: 300;
}

@media screen and (min-width: 440px){
	.gb-text-bold--over-phone{
		font-weight: 800;
	}
}

.gb-text-white {
	color: rgb(255, 255, 255);
}

.gb-text-white-opacity-50 {
	color: rgba(255, 255, 255, .5);
}

.gb-text-black {
	color: rgb(0, 0, 0);
}

.gb-text-black--white-over-dextop {
	color: rgb(0, 0, 0);
}

@media screen and (min-width : 1024px){
	.gb-text-black--white-over-dextop {
		color: rgb(255, 255, 255);
	}
}

.gb-text-black-opacity-30 {
	color: rgba(0, 0, 0, .3);
}

.gb-text-black-opacity-40 {
	color: rgba(0, 0, 0, .4);
}

.gb-text-black-opacity-50 {
	color: rgba(0, 0, 0, .5);
}

.gb-text-black--black-opacity-50-over-tablet{
	color: rgb(0, 0, 0);
}

@media screen and (min-width : 440px) {
	.gb-text-black--black-opacity-50-over-tablet{
		color: rgba(0, 0, 0, .5);
	}
}

.gb-text-dark-blue {
	color: rgb(29, 29, 38);
}

.gb-text-orange {
	color: rgb(249, 99, 50);
}

/* Gb-text-color end */

/* Devices start */

/* phone */

@media screen and (max-width: 440px) {
	.gb-phone-hide {
		display: none !important;
	}
}

/* tablet */

@media screen and (max-width: 1024px) {
	.gb-tablet-hide {
		display: none !important;
	}
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
	.gb-tablet-show {
		display: block !important;
	}
	.gb-tablet-show-flex {
		display: flex !important;
	}
	.gb-tablet-show-inline {
		display: inline-block !important;
	}
}

/* dextop */

@media screen and (max-width: 1440px) {
	.gb-dextop-hide {
		display: none !important;
	}
}

@media screen and (min-width: 1024px) and (max-width: 1440px) {
	.gb-dextop-show {
		display: block !important;
	}
	.gb-dextop-show-flex {
		display: flex !important;
	}
	.gb-dextop-show-inline {
		display: inline-block !important;
	}
}

/* hd-dextop */

@media screen and (max-width: 1920px) {
	.gb-hd-dextop-hide {
		display: none !important;
	}
}

@media screen and (min-width: 1440px) and (max-width: 1920px) {
	.gb-hd-dextop-show {
		display: block !important;
	}
	.gb-hd-dextop-show-flex {
		display: flex !important;
	}
	.gb-hd-dextop-show-inline {
		display: inline-block !important;
	}
}

/* 4k-dextop */

@media screen and (min-width: 1920px){
	.gb-4k-dextop-show {
		display: block !important;
	}
	.gb-4k-dextop-show-flex {
		display: flex !important;
	}
	.gb-4k-dextop-show-inline {
		display: inline-block !important;
	}
}

/* Devices end */

/* Icons start */
.gb-icon-large {
	width: 75px;
	height: 75px;
}
.gb-icon-medium {
	width: 25px;
	height: 25px;
}

.gb-icon-small {
	width: 20px;
	height: 20px;
}

.gb-icon-tiny {
	width: 15px;
	height: 15px;
}

@media screen and (min-width : 1024px){
	.gb-icon-tiny {
		width: 20px;
		height: 20px;
	}
}

.gb-icon-white {
	fill: none;
	stroke: rgb(255, 255, 255);
}

.gb-icon-white-opacity-50 {
	fill: none;
	stroke: rgba(255, 255, 255, .5);
}

.gb-icon-black{
	fill: none;
	stroke: rgb(0, 0, 0);
}

.gb-icon-black-opacity-30 {
	fill: none;
	stroke: rgba(0, 0, 0, .3);
}

.gb-icon-black-opacity-30--white-over-dextop-opacity-50{
	fill: none;
	stroke: rgba(0, 0, 0, .3);
}

@media screen and (min-width: 1024px){
	.gb-icon-black-opacity-30--white-over-dextop-opacity-50{
		fill: none;
		stroke: rgba(255, 255, 255, .5);
	}
}

.gb-icon-fill-black{
	fill: rgb(0,0,0);
}

.gb-icon-fill-black-opacity-30{
	fill: rgba(0,0,0,.3);
}
/* Icons end */

/* Avatars start */

.gb-avatar {
	border-radius: 50%;
	background-size: cover;
	background-position: center;
}

.gb-avatar-x-large {
	width: 60px;
	height: 60px;
}

@media screen and (min-width: 440px) {
	.gb-avatar-x-large {
		width: 100px;
		height: 100px;
	}
}

@media screen and (min-width: 1024px) {
	.gb-avatar-x-large {
		width: 120px;
		height: 120px;
	}
}

.gb-avatar-large{
	width : 45px;
	height : 45px;
}

@media screen and (min-width: 440px) {
	.gb-avatar-large {
		width: 50px;
		height: 50px;
	}
}

@media screen and (min-width: 768px) {
	.gb-avatar-large {
		width: 55px;
		height: 55px;
	}
}

@media screen and (min-width: 1024px) {
	.gb-avatar-large {
		width: 60px;
		height: 60px;
	}
}

@media screen and (min-width: 1024px) {
	.gb-avatar-x-large {
		width: 120px;
		height: 120px;
	}
}

.gb-avatar-medium {
	width: 40px;
	height: 40px;
}

.gb-avatar-small {
	width: 30px;
	height: 30px;
}

.gb-avatar-tiny {
	width: 20px;
	height: 20px;
}

/* Avatars end */

/* Buttons start */

.gb-btn {
	border-radius: 50px;
	display: flex;
	align-items: center;
	text-decoration: none;
	justify-content: center;
	font-weight: bold;
}

.gb-btn-primary {
	color: rgb(255, 255, 255);
	background-color: rgb(249, 99, 50);
	font-size: 15px;
	font-weight: bold;
}

.gb-btn-primary:hover {
	background-color: rgb(237, 94, 47);
}

.gb-btn-large {
	width: 90%;
	height: 55px;
	max-width: 350px;
	min-width: 250px;
}

.gb-btn-small {
	width: 100px;
	height: 40px;
	font-size: 13px;
}

.gb-btn-outlined {
	color: rgb(255, 255, 255);
	background-color: transparent;
	border: 1px solid rgba(255, 255, 255, .3)
}

.gb-btn-outlined:hover {
	background-color: rgba(255, 255, 255, .1);
}

.gb-btn-outlined-on-current {
	color: rgba(255, 255, 255, .5);
	background-color: transparent;
}

.gb-btn-outlined-on-current:hover {
	color: rgb(255, 255, 255);
}

.gb-btn-outlined-on-current.current {
	color: rgb(255, 255, 255);
	border: 1px solid rgba(255, 255, 255, .3);
}

.gb-btn-white {
	color: rgb(249, 99, 50);
	background-color: rgb(255, 255, 255);
}

.gb-btn-white:hover {
	color: rgb(255, 255, 255);
	background-color: rgb(249, 99, 50);
}

.gb-btn-icon-round {
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.gb-btn-icon-round-transparent {
	background-color: rgba(255, 255, 255, .1);
}

.gb-btn-icon-round-transparent svg {
	stroke: rgb(255, 255, 255) !important;
}

.gb-btn-icon-round-transparent.current {
	background-color: rgb(255, 255, 255);
	box-shadow: 1px 3px 10px rgba(0, 0, 0, 0.2);
}

.gb-btn-icon-round-transparent.current svg {
	stroke: rgb(249, 99, 50) !important;
}

.gb-btn-icon-round-small {}

.gb-btn-icon-round-medium {}

.gb-btn-icon-round-large {}

/* Buttons end */

/* Switchers start */

.gb-switcher{
  position: relative;
  display: inline-block;
  width: 50px;
  height: 25px;
}

.gb-swithcer-checkbox {
	display: none;
}

.gb-switcher-slider{
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #e5e5e5;
	-webkit-transition: 0.4s;
	-o-transition: 0.4s;
	transition: 0.4s;
	border-radius: 50px;
}

.gb-switcher-slider:before{
	position: absolute;
	content: "";
	-webkit-box-shadow: 2px 8px 15px rgba(0, 0, 0, 0.2);
	box-shadow: 2px 8px 15px rgba(0, 0, 0, 0.2);
	height: 25px;
	width: 25px;
	left: 0px;
	bottom: 0px;
	background-color: #b7b7b7;
	border-radius: 50%;
	-webkit-transition: 0.4s;
	-o-transition: 0.4s;
	transition: 0.4s;
}

@media screen and (min-width: 950px) {
  .gb-switcher-secondary .gb-switcher-slider:before {
    background-color: rgba(0, 0, 0, 0.2);
	}
	.gb-switcher-secondary .gb-switcher-slider{
		background-color: rgba(0, 0, 0, 0.1);
	}
	.gb-switcher-secondary input.gb-swithcer-checkbox:checked+.gb-switcher-slider:before {
    background-color: #fff;
  }
}

input.gb-swithcer-checkbox:checked+.gb-switcher-slider:before {
  background-color: #f96332;
  left: 25px;
}

/* Switchers end */

/* Card-label start */

.gb-grow-one{
  flex-grow: 1;
}

.gb-card-label{
	display: flex;
	align-items: center;
	justify-content: space-between;
	box-sizing: border-box;
}

.gb-card-label > *{
  display: flex;
  align-items: center;
}
.gb-card-label > *:not(:last-child){
  margin-right: 10px;
}
  
.label-item-under-line{
   display: flex;
   justify-content: flex-end;
}
  
.label-item-under-line > *{
	position: relative;
  display: inline-block;
}

.label-item-under-line > *:after{
	content: '';
	width: 100%;
	height: 1px;
	position: absolute;
	background: currentColor;
	opacity: 0.5;
	left: 0;
	bottom: -5px;
}

/* Card-label end */

/* Gb-navbar start */

.gb-navbar {
	width: 100%;
	height: 70px;
	padding: 30px 5px 15px;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	display: flex;
	align-items: center;
	justify-content: space-between;
	position: relative;
	box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.gb-navbar a {
	display: block;
}

.gb-navbar .center-content {
	position: absolute;
	left: calc(50% - 12px);
}

.gb-navbar .right-content, .gb-navbar .left-content {
	display: flex;
	align-items: center;
}

.gb-navbar .right-content>*, .gb-navbar .left-content>* {
	margin: 0 5px;
}

.gb-navbar .gb-avatar {
	background-image: url(images/profile.jpg)
}

.gb-navbar .nav-burger {
	margin-right: 20px;
}

.gb-label-icon {
  margin-right: 5px;
}
/* Gb-navbar end */


/* Gb-nav-aside start */

.gb-nav-aside{
	width : 270px;
	height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
	overflow: hidden;
}

.gb-nav-aside .nav-aside-image-background{
	width: 120%;
	position: absolute;
	top: -10%;
	left: -10%;
	height: 120%;
	background-image: url(images/bg.png);
	background-size: cover;
	background-position: left;
	-webkit-filter: blur(10px);
	filter: blur(10px);
	opacity: 0.2;
}

.gb-nav-aside .nav-aside-content{
	position: relative;
	z-index: 3;
	display: flex;
	flex-direction: column;
	padding-top: 30px;
	box-sizing: border-box;
	height: 100vh;
	padding: 30px 0 10px;
	position: relative;
}

@media screen and (min-width : 440px){
	.gb-nav-aside .nav-aside-content{
		padding : 70px 0 10px;
	}
}

.gb-nav-aside .nav-aside-close {
	position: absolute;
	top: 20px;
	left: 10%;
	cursor : pointer;
}

.gb-nav-aside .nav-aside-link{
	display: flex;
	align-items: center;
	padding : 10px 0;
}

.gb-nav-aside .nav-aside-icon{
	margin: 0 10%;
}

.gb-nav-aside .nav-aside-content-top {
	flex-basis: calc(100vh - 70px);
	overflow-y: auto;
}

.gb-nav-aside .nav-aside-content-bottom{
	display: flex;
	flex-basis: 50px;
	padding: 10px 10% 0;
	justify-content: space-between;
	align-items: center;
}

.gb-nav-aside .line-top {
	position: relative;
	margin-top: 20px;
}

.gb-nav-aside .line-top:after {
	content: '';
	position: absolute;
	top: -10px;
	width: 80%;
	left: 10%;
	background: rgba(255, 255, 255, .3);
	height: 1px;
}

.gb-nav-aside .left-link{
	margin : 5px 0;
	display: block;
}

/* Gb-nav-aside end */

/* Gb-comment-card start */

.gb-comment-card {
	width: 100%;
	display: flex;
	padding: 25px 10px;
	border-bottom: 1px solid rgba(0, 0, 0, 0.2);
	max-width: 850px;
	box-sizing: border-box;
	margin: 0 auto
}

.gb-comment-card .user-avatar-wrapper{
	margin-right: 15px;
}

.gb-comment-card .comment-content-wrapper{
	flex-grow: 1;
}

.gb-comment-card .top-content{
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-direction: row;
}

.gb-comment-card .author-name{
	flex-grow : 1
}

.gb-comment-card .bottom-content{
	max-width: 350px;
	padding : 10px 0 5px;
}

.gb-comment-card .user-avatar{
	display: block;
	background-image : url(images/profile.jpg);
	background-size : cover;
	background-position: center;
}


/* Gb-comment-card end */

/* Gb-card-10 start */

.gb-card-10 {
	width: 100%;
	height: 50vh;
	min-height: 300px;
	max-height: 500px;
	background-image: url(images/img3.png);
	background-size: cover;
	background-position: center;
	position: relative;
	padding: 20px 15px;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: end;
	-ms-flex-align: end;
	align-items: flex-end;
}

@media screen and (min-width: 440px){
	.gb-card-10 {
		padding: 30px 20px;
	}
}

.gb-card-10-wrapper .card-10-content{
	z-index: 2;
}

@media screen and (min-width: 768px){
	.gb-card-10 {
		padding: 45px 15px;
		min-height: 500px;
    max-height: 600px;
	}
	
	.gb-card-10-wrapper .card-10-content{
		max-width: 90%;
	}
}

@media screen and (min-width: 1024px){
	.gb-card-10{
		padding: 55px 15px;
		min-height: 600px;
    max-height: 800px;
	}
	.gb-card-10-wrapper .card-10-content{
		max-width: 1024px;
		margin: 0 auto
	}
}

.gb-card-10-wrapper .card-10-shadow-overlay{
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 40%;
	background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 0, 0, 0)), to(rgba(0, 0, 0, 0.42)));
	background: -webkit-linear-gradient(rgba(255, 0, 0, 0), rgba(0, 0, 0, 0.42));
	background: -o-linear-gradient(rgba(255, 0, 0, 0), rgba(0, 0, 0, 0.42));
	background: linear-gradient(rgba(255, 0, 0, 0), rgba(0, 0, 0, 0.42));
}

.gb-card-10-wrapper .gb-card-label{
	padding: 10px;
	max-width: 1024px;
	margin: 0 auto
}
/* Gb-card-10 end */

/* Gb-card-11 end */

.gb-card-11{
	height: 50vh;
	min-height: 300px;
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	background-image : url(images/img1.png);
	background-size: cover;
	background-position: center;
}

.gb-card-11 .card-11-content{
	width: 100%;
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: end;
	-ms-flex-pack: end;
	justify-content: flex-end;
	padding: 20px 15px;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	max-width: 800px;
  margin: 0 auto;
}

.gb-card-11 .card-11-content .card-title{
	margin-bottom: 10px;
}

@media screen and (min-width: 440px){
	.gb-card-11 .card-11-content .card-title{
		max-width: 85%;
	}
}

@media screen and (min-width: 1024px){
	.gb-card-11{
		width: 50vw;
	}
	.gb-card-11 .card-11-content{
		max-width: unset;
	}
	.gb-card-11 .card-11-content .card-title{
		margin-bottom: 15px;
	}
}

/* Gb-card-11 end */

/* gb-card-12--image-left start */
.gb-card-12{
	box-sizing: border-box;
	border-top: 1px solid #eaeaea;
	position: relative;
}

.gb-card-12 .text-content{
	max-width: 450px;
	margin: 0 auto;
	z-index: 2;
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: end;
	-ms-flex-pack: end;
	justify-content: flex-end;
	padding: 20px 15px 17px;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.gb-card-12 .card-title{
	margin-bottom: 15px;
}

@media screen and (min-width: 440px){
	.gb-card-12{
		border: none;
		height: 300px;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
	}
	.gb-card-12 .text-content{
		max-width: unset;
		flex-grow: 1;
		width: 50%;
		display: flex;
		flex-direction: column;
	}
	.gb-card-12 .text-content .card-title {
		flex-grow: 1;
    align-items: center;
		display: flex;
		justify-content: center;
    text-align: center;
	}
	.gb-card-12 .card-image {
		height: 100%;
		width: 50%;
		background-image: url(images/img3.png);
    background-size: cover;
    background-position: center;
	}

	.gb-card-12.gb-card-12--image-right .card-image{
		order: 1;
	}

	.gb-card-12.gb-card-12--image-left .text-content:after{
		content: '';
		border-right: 15px solid #fff;
		border-bottom: 15px solid transparent;
		border-top: 15px solid transparent;
		position: absolute;
		left: -15px;
		top: calc(50% - 7.5px);
	}

	.gb-card-12.gb-card-12--image-right .text-content:after{
		content: '';
		border-left: 15px solid #fff;
		border-bottom: 15px solid transparent;
		border-top: 15px solid transparent;
		position: absolute;
		right: -15px;
		top: calc(50% - 7.5px);
	}
}

@media screen and (min-width: 760px){
	.gb-card-12{
		height: 350px;
	}
}

@media screen and (min-width: 1024px){
	.gb-card-12{
		width: 50vw;
		min-height: 350px;
		height: 50vh;
	}
}



@media screen and (min-width: 1024px){
	.gb-card-12.gb-card-12--full-dextop .card-image{
		width: 100%;
	}
	.gb-card-12.gb-card-12--full-dextop .text-content{
		position: absolute;
		width: 100%;
		height: 100%;
	}
	.gb-card-12.gb-card-12--full-dextop .card-title{
		align-items: flex-end;
		justify-content: flex-start;
		text-align: left;
	}

}

/* gb-card-12--image-left end */

/* gb-image-carousel-1 start */
.gb-image-carousel-1{
	width: 100vw;
    overflow: hidden;
    max-width: 1024px;
    margin: 0 auto;
}

.gb-image-carousel-1 .carousel-1-images-list {
	white-space: nowrap;
	clear: both;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-transform: translateX(15%);
	-ms-transform: translateX(15%);
	transform: translateX(15%);
	padding: 50px 0;
	-webkit-transition: 0.4s 0.3s linear transform;
	-o-transition: 0.4s 0.3s linear transform;
	transition: 0.4s 0.3s linear transform;
  }
  
  @media screen and (min-width: 600px) {
	.gb-image-carousel-1 .carousel-1-images-list {
	  padding: 65px 0;
	}
  }
  
  .gb-image-carousel-1 .carousel-1-images-list li.carousel-1-image-item {
	display: inline-block;
	width: 70%;
	height: 200px;
	margin: 0 -2px;
	-webkit-transition: 0.2s linear transform;
	-o-transition: 0.2s linear transform;
	transition: 0.2s linear transform;
	box-shadow: 0 0 30px rgba(0, 0, 0, 0.3);
	background-size: cover;
	background-position: center;
  }
  
  @media screen and (min-width: 600px) {
	.gb-image-carousel-1 .carousel-1-images-list li.carousel-1-image-item {
	  height: 250px;
	}
  }
  
  @media screen and (min-width: 700px) {
	.gb-image-carousel-1 .carousel-1-images-list li.carousel-1-image-item {
	  height: 300px;
	}
  }
  
  @media screen and (min-width: 850px) {
	.gb-image-carousel-1 .carousel-1-images-list li.carousel-1-image-item {
	  height: 350px;
	}
  }
  
  @media screen and (min-width: 950px) {
	.gb-image-carousel-1 .carousel-1-images-list li.carousel-1-image-item {
	  height: 400px;
	}
  }
  
  @media screen and (min-width: 1050px) {
	.gb-image-carousel-1 .carousel-1-images-list li.carousel-1-image-item {
	  height: 450px;
	}
  }
  
  .gb-image-carousel-1 .carousel-1-images-list li.carousel-1-image-item.active {
	-webkit-transform: scale(1.2);
	-ms-transform: scale(1.2);
	transform: scale(1.2);
  }
    
  .carousel-1-about-slide {
	text-align: center;
	transition: .4s linear opacity;
  }

  .carousel-1-about-slide.fade-out{
	opacity: 0;
  }
  
  .carousel-1-about-slide a.image-photographer {
	margin: 10px 0 50px;
	display: inline-block;
  }
  
  ul.carousel-1-pagination {
	display: -webkit-box;
	display: -ms-flexbox;
	margin-top: 20px; 
	display: flex;
	width: 100%;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
  }
  
  .carousel-1-pagination-buble{
	width: 13px;
	height: 13px;
	background-color: rgba(0, 0, 0, 0.1);
	border-radius: 50%;
	margin: 0 5px;
	cursor: pointer;
	-webkit-transition: 0.2s linear background;
	-o-transition: 0.2s linear background;
	transition: 0.2s linear background;
  }
  
  .carousel-1-pagination-buble.active {
	background-color: #f96332;
  }

/* gb-image-carousel-1 end */

/* gb-footer start */

.gb-footer .footer-wrapper{
  display: flex;
  flex-wrap: wrap;
}

.gb-footer .footer-nav {
	padding: 15px 10px;
}

.gb-footer .footer-social-media-list {
	flex-grow: 1;
	display: flex;
	align-items: center;
	justify-content: flex-end;
}

.gb-footer .footer-social-media-list > * {
	margin: 0 10px;
}

.gb-footer .footer-rights-reserved{
	flex-basis: 100%;
	background: rgba(0, 0, 0, .10);
	text-align: center;
	padding: 10px;
}

@media screen and (min-width : 440px){
	.gb-footer .footer-nav {
    padding: 25px 10px;
    display: flex;
	}
	.gb-footer .footer-nav > *{
		margin-right: 10px;
	}
	.gb-footer .footer-nav > *:last-child{
		margin-right: 0;
	}
}

@media screen and (min-width: 768px){
	.gb-footer .footer-rights-reserved {
		flex-basis: unset;
		background: transparent;
		padding: 10px;
		display: flex;
		align-items: center;
		margin-left: 15px;
	}
}

@media screen and (min-width: 1024px){
	.gb-footer .footer-nav > * {
    margin-right: 20px;
	}
	.gb-footer .footer-wrapper{
		max-width: 1024px;
		margin: 0 auto;
	}
}

/* gb-footer start */



























/* gb-gadget-graph */
.temperature-wrapper {
	background-color: #ffb235;
	color: #fff;
	padding: 20px 0;
  }
  
  @media screen and (min-width: 750px) {
	.temperature-wrapper {
	  -ms-flex-preferred-size: 50%;
	  flex-basis: 50%;
	  width: 50%;
	}
  }
  
  .temperature-wrapper .weather-icon {
	fill: none;
	stroke: #fff;
	width: 50px;
	height: 50px;
  }
  
  @media screen and (min-width: 550px) {
	.temperature-wrapper .weather-icon {
	  width: 100px;
	  height: 100px;
	}
  }
  
  .temperature-wrapper .temperature-now {
	padding: 0 15px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
  }
  
  @media screen and (min-width: 1000px) {
	.temperature-wrapper .temperature-now {
	  padding: 0 30px;
	}
  }
  
  .temperature-wrapper .temperature-now .text {
	font-size: 17px;
  }
  
  @media screen and (min-width: 550px) {
	.temperature-wrapper .temperature-now .text {
	  font-size: 20px;
	}
  }
  
  .temperature-wrapper .temperature-now .text h6.city {
	font-size: 16px;
	opacity: 0.5;
  }
  
  @media screen and (min-width: 550px) {
	.temperature-wrapper .temperature-now .text h6.city {
	  font-size: 18px;
	}
  }
  
  .temperature-wrapper .degree-now {
	position: relative;
	padding-right: 5px;
	-ms-flex-item-align: end;
	align-self: flex-end;
  }
  
  .temperature-wrapper .degree-now h1 {
	font-size: 120px;
	line-height: 100px;
  }
  
  @media screen and (min-width: 550px) {
	.temperature-wrapper .degree-now h1 {
	  font-size: 135px;
	}
  }
  
  @media screen and (min-width: 750px) {
	.temperature-wrapper .degree-now h1 {
	  font-size: 120px;
	}
  }
  
  .temperature-wrapper .degree-now span {
	font-weight: bold;
	font-size: 30px;
	top: -40px;
	right: -5px;
	position: absolute;
  }
  
  @media screen and (min-width: 550px) {
	.temperature-wrapper .degree-now span {
	  top: -53px;
	}
  }
  svg.weather-chart {
	fill: none;
  }
  
  svg.weather-chart g {
	stroke: #ffb236;
  }
  
  svg.weather-chart g.main {
	-webkit-filter: url("#drop-shadow");
	filter: url("#drop-shadow");
  }
  /* gb-gadget-graph end */